# 2022.2
#PETALINUX_RELEASE="${PETALINUX_RELEASE:-2022.2}"
#PETALINUX_INSTALLER="${PETALINUX_INSTALLER:-petalinux-v2022.2-10141622-installer.run}"
#UBUNTU_RELEASE="${UBUNTU_RELEASE:-focal-20220531}"

# 2022.1
PETALINUX_RELEASE="2022.1"
PETALINUX_INSTALLER="petalinux-v2022.1-04191534-installer.run"
UBUNTU_RELEASE="focal-20200729"
PACKAGE_FILE="package_list_2022"

# Release Independent
# Export UID and GID on the shell
# export UID
# export GID=$(id -g)
RUNNER_PUID=30001
RUNNER_PGID=30467
