# 2022.2
#PETALINUX_RELEASE="${PETALINUX_RELEASE:-2022.2}"
#PETALINUX_INSTALLER="${PETALINUX_INSTALLER:-petalinux-v2022.2-10141622-installer.run}"
#UBUNTU_RELEASE="${UBUNTU_RELEASE:-focal-20220531}"

# 2022.1
PETALINUX_RELEASE="2022.1"
PETALINUX_INSTALLER="petalinux-v2022.1-04191534-installer.run"
UBUNTU_RELEASE="focal-20200729"

# Release Independent
# Your UID here
PUID=1000
# Your GID here
PGID=1000
WORKDIR='/local/mmate/work/project_name'

